<%= form_with(model: @category, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :category_name %>

    <%= f.text_field :category_name, class: "form-control" %>
  </div>

  <%= f.hidden_field :chef_id, value: @chef.id %>

  <%= f.submit "Create category", class: "btn btn-block btn-outline-secondary" %>
<% end %>
