<% was_validated = recipe.errors.any? %>

<%= form_with(model: recipe, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% recipe_name_class = "form-control" %>
    <% recipe_name_was_invalid = recipe.errors.include?(:recipe_name) %>

    <% if was_validated %>
      <% if recipe_name_was_invalid %>
        <% recipe_name_class << " is-invalid" %>
      <% else %>
        <% recipe_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :recipe_name %>
    <%= f.text_field :recipe_name, class: recipe_name_class, placeholder: "Enter recipe name" %>
    <% if recipe_name_was_invalid %>
      <% recipe.errors.full_messages_for(:recipe_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% category_class = "form-control" %>
    <% category_was_invalid = recipe.errors.include?(:category) %>

    <% if was_validated %>
      <% if category_was_invalid %>
        <% category_class << " is-invalid" %>
      <% else %>
        <% category_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :category_id %>
    <%= f.collection_select :category_id, Category.all, :id, :to_s, {}, class: "form-control" %>
    <% if category_was_invalid %>
      <% recipe.errors.full_messages_for(:category).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
