<%= form_with(model: @match, local: true) do |f| %>

  <%= f.hidden_field :category_id, value: @recipe.id %>

  <div class="form-group">
    <%= f.label :recipe_id %>

    <%= f.collection_select :recipe_id, Category.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create match", class: "btn btn-block btn-outline-secondary" %>
<% end %>
