<!-- Form match start -->
<%= form_with(model: @match, local: true) do |f| %>
<!-- Form match end -->

  <!-- Label and input for category_id start -->
  <!-- Input for category_id start -->
  <%= f.hidden_field :category_id, value: @recipe.id %>
  <!-- Input for category_id end -->
  <!-- Label and input for category_id end -->

  <!-- Label and input for recipe_id start -->
  <div class="form-group">
    <%= f.label :recipe_id %>

    <!-- Input for recipe_id start -->
    <%= f.text_field :recipe_id, class: "form-control" %>
    <!-- Input for recipe_id end -->
  </div>
  <!-- Label and input for recipe_id end -->

  <%= f.submit "Create match", class: "btn btn-block btn-outline-secondary" %>
<% end %>
