<div class="card mb-3">
  <h2 class="card-header h4">
    Match #<%= match.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Category</dt>
      <dd>
        <% if @match.category.present? %>
          <%= link_to match.category, match.category %>
        <% end %>
      </dd>

      <dt>Recipe</dt>
      <dd>
        <% if @match.recipe.present? %>
          <%= link_to match.recipe, match.recipe %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back match, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_match_url(match), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to match, method: :delete, data: { confirm: "Do you really want to delete this match?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(match.updated_at) %> ago
  </div>
</div>
