<% was_validated = match.errors.any? %>

<%= form_with(model: match, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% category_class = "form-control" %>
    <% category_was_invalid = match.errors.include?(:category) %>

    <% if was_validated %>
      <% if category_was_invalid %>
        <% category_class << " is-invalid" %>
      <% else %>
        <% category_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :category_id %>
    <%= f.collection_select :category_id, Recipe.all, :id, :to_s, {}, class: "form-control" %>
    <% if category_was_invalid %>
      <% match.errors.full_messages_for(:category).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% recipe_class = "form-control" %>
    <% recipe_was_invalid = match.errors.include?(:recipe) %>

    <% if was_validated %>
      <% if recipe_was_invalid %>
        <% recipe_class << " is-invalid" %>
      <% else %>
        <% recipe_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :recipe_id %>
    <%= f.collection_select :recipe_id, Category.all, :id, :to_s, {}, class: "form-control" %>
    <% if recipe_was_invalid %>
      <% match.errors.full_messages_for(:recipe).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
