<%= form_with(model: @match, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :category_id %>

    <%= f.collection_select :category_id, Recipe.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :recipe_id, value: @category.id %>

  <%= f.submit "Create match", class: "btn btn-block btn-outline-secondary" %>
<% end %>
