<% was_validated = category.errors.any? %>

<%= form_with(model: category, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for category_name start -->
  <div class="form-group">
    <% category_name_class = "form-control" %>
    <% category_name_was_invalid = category.errors.include?(:category_name) %>

    <% if was_validated %>
      <% if category_name_was_invalid %>
        <% category_name_class << " is-invalid" %>
      <% else %>
        <% category_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :category_name %>
    <!-- Input for category_name start -->
    <%= f.text_field :category_name, class: category_name_class, placeholder: "Enter category name" %>
    <!-- Input for category_name end -->
    <% if category_name_was_invalid %>
      <% category.errors.full_messages_for(:category_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for category_name end -->
  <!-- Label and input for chef_id start -->
  <div class="form-group">
    <% chef_class = "form-control" %>
    <% chef_was_invalid = category.errors.include?(:chef) %>

    <% if was_validated %>
      <% if chef_was_invalid %>
        <% chef_class << " is-invalid" %>
      <% else %>
        <% chef_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :chef_id %>
    <!-- Input for chef_id start -->
    <%= f.collection_select :chef_id, Chef.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for chef_id end -->
    <% if chef_was_invalid %>
      <% category.errors.full_messages_for(:chef).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for chef_id end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
